body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-family: 'Rajdhani', sans-serif;
}
.nav-link{
    font-size: 1.4rem;
    color: #f6f9fe;
    cursor: pointer;
}
.button{
    font-size: 1.5rem;
    color: #f6f9fe;
    cursor: pointer;
    transition: .5s ease;
}
.button:hover{
    transform: scale(1.1);
}
.slider{
    display: none;
}
.active{
    display: block;
}